body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }

#assign-teams, #map-selection {
    text-align: center;
    margin-top: 20px;
}

.map-container, .side-selection-container, .bottom-ui {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.map-icon {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.map-icon-mapselect {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.map-icon-new {
    padding-top: 20px;
    width: 250px;
    height: 20px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    text-shadow: black;
}

.side-button {
    font-size: 24px;
    width: 250px;
    height: 100px;
    border: 1px solid black;
    opacity: .8;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bottom-ui-new {
    display: flex;
    justify-content: center;
}

.under-ui {
    display: none;
    justify-content: center;
}

.map-icon.picked {
    background-color: #00000080;
    border: green solid;
    border-width: 4px;
    border-radius: 8;
    color: white;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    object-fit: cover;
}

.map-icon.banned {
    background-color: #0000008f;
    border: red solid;
    border-width: 4px;
    border-radius: 8;
    color: white;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    object-fit: cover;
}

.map-icon.green {
    background-color: green; /* Adjust color as needed */
    color: white; /* Ensure text is visible on green */
}

.side-selection-container.disabled, .map-container.disabled {
    pointer-events: none;
    opacity: 0.8;
}
